
  @import url('https://fonts.googleapis.com/css2?family=Almendra+Display&family=Crimson+Text&family=Dhurjati&family=Hedvig+Letters+Sans&family=Josefin+Sans:wght@100&family=Montserrat:wght@100;200;400&family=Open+Sans:ital,wght@0,400;1,300;1,400&family=Playfair+Display&family=Raleway:ital,wght@0,200;0,500;1,100&family=Rubik+Bubbles&family=Tenor+Sans&family=Work+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans';
}

#section {
    background-color: rgba(31, 152, 240, 1);
    width: 100%;
    height: 800px;
}

.container {
    padding: 10px;
    width: 75%;
    margin: 0 auto;
    height: 100%;
}

header {
    width: 100%;
    height: 10vh;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav > a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: white;
    margin: 30px;
}

nav > span {
    margin: 40px;
    color: white;
    font-weight: 600;
    font-size: 30px;
}

.btn > a  {
    background-color: white;
    padding: 15px 30px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: rgba(3, 16, 26, 1);
}

.home {
    position: relative;
    margin-top: 200px;
    margin-left: 40px;
}

.main {
    gap: 40px;
    align-items: baseline;
    display: flex;
}

.text {
    width: 50%;
}

.text > h1 {
    font-weight: 900;
    font-size: 51px;
    color: white;
}

.text > p {
    color: white;
    margin-top: 12px;
    line-height: 23px;
}

.download {
    margin-top: 40px;
}

.text2 {
    width: 50%;
}

.text2 > img {
    margin-left: 230px;
    position: absolute;
}

.img {
    z-index: 1;
    height: 530.29px;
    right: 19%;
    top: -40%;
}

.img2 {
    right: 9.5%;
    top: -20%;
    height: 420px;
}

.img3 {
    bottom: -75%;
    right: 30%;
}

.img4 {
    top: -50%;
    left: 63%;
}

#section2 {
    width: 100%;
    height: 800px;   
}

#container {
    width: 75%;
    margin: 0 auto;
    height: 100%;
    margin-top: 60px;
}

.company {
    margin-left:40px ;
    width: 100%;
}

.company > h2 {
    font-weight: 900;
    font-size: 21.46px;
}

.wrapper {
    margin-top: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 50px;;
}

.box {
    width: 250px;
    align-items: center;
    display: flex;
    gap: 5px;
}

.box > h2 {
    font-weight: 900;
    color: rgb(53, 53, 53);
}

.page {
    position: relative;
    width: 100%;
}

.feature {
    display: flex;
    gap: 100px;
    align-items: center;
    margin-top: 90px;
    position: absolute;
    left: -15%;
}

.text3 {
    width: 50%;
}

.text4 > h1 {
    font-size: 38px;
    color: rgba(3, 16, 26, 1);
    font-weight: 900;
    margin-bottom: 100px;
}

.imgs {
    display: flex;
    position: relative;
    align-items: center;
}

.img5 {
    position: absolute;
    right: -114%;
    bottom: -10%;
}

.benefit {
    gap: 80px;
    display: flex;
    margin-top: 50px;
    align-items: center;
}

.info > h2 {
    font-weight: 900;
    color: rgba(3, 16, 26, 1);
    font-size: 21px;
}

.info > p {
    font-weight: 900;
    margin-top: 15px;
    color: rgb(83, 83, 83);
}

.page5 {
    margin-left: 40px;
    margin-top: 1050px;
}

.page5 > h1 {
    text-align: center;
    font-size: 38px;
    color:rgba(3, 16, 26, 1);
}

.humans {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.human {
    width: 300px;
}

.human > h1 {
    margin:20px;
    text-align: center;
}

.human {
    text-align: center;
}

.available {
    background-color: rgba(31, 152, 240, 1);
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 800px;
}

.available > h1 {
    font-size: 38px;
    color: white;
}

.button > a {
    border-radius: 8px;
    font-weight: 900;
    padding: 18px 40px;
    background-color: white;
    text-decoration: none;
    color: rgba(31, 152, 240, 1);
}

.news > h1 {
    font-weight: 900;
    text-align: center;
    color:rgba(3, 16, 26, 1);
    font-size: 38px;
}

.foods {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 90px;
}

.food {
    width: 340px;
}

.food > h1 {
    font-size: 28px;
    color: rgba(3, 16, 26, 1);
    margin-top: 20px;
}

.food > p {
    margin-top: 10px;
    color:rgba(109, 112, 115, 1);
    margin-bottom: 50px;
}

.food > a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
    color: rgb(10, 133, 222);
}

footer {
    height: 60vh;
    background-color: rgba(3, 16, 26, 1);
    width: 100%;
}

.container2 {
    width: 80%;
    margin: 0 auto;
}

.boxes {
    display: flex;
    align-items: baseline;
}

.box1 {
    margin-top: 120px;
    width:400px ;
}

.box1 > h1 {
    color:rgba(255, 255, 255, 1);
}

.box1 > p {
    margin-top: 20px;
    color: white;
}

.box2 {
    margin: 50px;
    width: 120px;
}

.box2 > h2 {
    font-size:  16px;
    color: white;
    margin-bottom: 30px;
}

.box2 > p {
    line-height: 30px;
    color: white;
}

.sub {
    padding: 5px;
    height: 30px;
    background-color: rgb(10, 133, 222);
}

.sub > h4 {
    margin-top: 2px;
    color:white;
}

.input {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

input {
    padding: 5px;
    height: 30px;
    outline: none;
    color: rgb(10, 133, 222);
    border: none;
}


@media  screen and (max-width: 1388px) {

    
}

@media  screen and (max-width: 998px) {
    title {
        
    }
}

@media  screen and (max-width: 768px) {
    
}

@media  screen and (max-width: 576px) {

}